.overlay {
  inset: 0;
  pointer-events: none;
  position: absolute;
  z-index: 4;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
  height: 2rem;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transition:
    opacity var(--ifm-transition-fast) var(--ifm-transition-timing-default),
    transform var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  width: 2rem;
  z-index: 5;
}

.arrowVisible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) scale(1);
}

.arrowInner {
  background: var(--ifm-color-emphasis-200);
  border-radius: 50%;
  box-shadow: var(--ifm-global-shadow-lw);
  display: block;
  height: 100%;
  transition: background var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  width: 100%;
}

.arrowInner::after {
  background-color: var(--ifm-color-emphasis-1000);
  content: "";
  display: block;
  height: 100%;
  mask: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem no-repeat;
  width: 100%;
}

.arrow:hover .arrowInner {
  background: var(--ifm-color-emphasis-300);
}

.arrowLeft {
  left: calc(var(--ifm-spacing-horizontal) / 4 + var(--scroll-arrows-left-offset, 0px));
}

.arrowLeft .arrowInner::after {
  transform: rotate(-90deg);
}

.arrowRight {
  right: calc(var(--ifm-spacing-horizontal) / 4);
}

.arrowRight .arrowInner::after {
  transform: rotate(90deg);
}
