.row {
  align-items: center;
  display: flex;
  line-height: 1.8;
  overflow-x: auto;
  padding-block: var(--ifm-spacing-vertical);
  padding-inline: calc(var(--ifm-spacing-horizontal) - 0.4rem);
  white-space: nowrap;
}

.plainCell {
  padding-inline: 0.4rem;
}

.rowHighlighted {
  padding-block: calc(var(--ifm-spacing-vertical) - 0.15rem);
}

.content {
  align-items: center;
  border-radius: 3px;
  display: inline-flex;
  gap: 0.4rem;
  padding-inline: 0.4rem;
}

.contentInfo {
  background: var(--hl-info-bg);
  outline: var(--hl-info-outline);
  padding-block: var(--hl-info-vpad);
}

.contentWarning {
  background: var(--hl-warning-bg);
  outline: var(--hl-warning-outline);
  padding-block: var(--hl-warning-vpad);
}

.contentDanger {
  background: var(--hl-danger-bg);
  outline: var(--hl-danger-outline);
  padding-block: var(--hl-danger-vpad);
}
