.sequenceRow + .sequenceRow {
  border-top: 1px solid var(--ifm-color-emphasis-200);
}

.contentSequence {
  border-top: 1px solid var(--ifm-color-emphasis-200);
}

.blurContent {
  --hl-info-bg: transparent;
  --hl-info-outline: none;
  --hl-warning-bg: transparent;
  --hl-warning-outline: none;
  --hl-danger-bg: transparent;
  --hl-danger-outline: none;
}

.blurContent [data-card] > :not([data-card-title]) span {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}

.blurContent [data-card] button {
  pointer-events: none;
}

.blurContent [data-card] > :not([data-card-title]) div {
  pointer-events: none;
}
