.sequenceRow + .sequenceRow {
  border-top: 1px solid var(--ifm-color-emphasis-200);
}

.contentSequence {
  border-top: 1px solid var(--ifm-color-emphasis-200);
}

.blurContent details > :not(summary) span {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}

.blurContent details button {
  pointer-events: none;
}

.blurContent details > :not(summary) div {
  pointer-events: none;
}
