.blurContent [data-card] > :not([data-card-title]) span {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}

.blurContent [data-card] button {
  pointer-events: none;
}

.blurContent [data-card] > :not([data-card-title]) div {
  pointer-events: none;
}
