.sprite {
  height: 28px;
  object-fit: contain;
  width: 28px;
}

.result {
  background: var(--ifm-code-background);
  border-radius: var(--ifm-global-radius);
  display: inline-block;
  font-family: var(--ifm-font-family-monospace);
  font-size: inherit;
  line-height: 1.8;
  padding: 0.1rem 0.4rem;
  vertical-align: middle;
  white-space: nowrap;
}
