.sprite {
  height: 26px;
  object-fit: contain;
  width: 26px;
}

.emptySprite {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 26px;
  text-align: center;
  width: 26px;
}

.resultMuted {
  font-size: 0.8em;
}

.result {
  background: var(--ifm-code-background);
  border-radius: var(--ifm-global-radius);
  display: inline-block;
  font-family: var(--ifm-font-family-monospace);
  font-size: inherit;
  line-height: 22px;
  padding: 2px 0.4rem;
  vertical-align: middle;
  white-space: nowrap;
}
